<mat-card class="user-form-card">

  <mat-card-content>
    <h2>Create User Forms</h2>
    <form [formGroup]="form" (ngSubmit)="save()">

      <!-- First Name -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
        <mat-hint>Enter your first name (1-50 characters)</mat-hint>
        <mat-error *ngIf="form.controls['firstName'].touched && form.controls['firstName'].hasError('required')">
          First Name is required
        </mat-error>
        <mat-error *ngIf="form.controls['firstName'].hasError('pattern')">
          Invalid characters
        </mat-error>
        <mat-error *ngIf="form.controls['firstName'].hasError('maxlength')">
          Max 50 characters
        </mat-error>
      </mat-form-field>

      <!-- Last Name -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
        <mat-hint>Enter your last name (1-50 characters)</mat-hint>
        <mat-error *ngIf="form.controls['lastName'].hasError('required')">
          Last Name is required
        </mat-error>
        <mat-error *ngIf="form.controls['lastName'].hasError('pattern')">
          Invalid characters
        </mat-error>
        <mat-error *ngIf="form.controls['lastName'].hasError('maxlength')">
          Max 50 characters
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('email')">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <!-- Phone Number -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Phone Number (optional)</mat-label>
        <input matInput formControlName="phoneNumber" />
        <mat-error *ngIf="form.controls['phoneNumber'].hasError('pattern')">
          Must be valid international format (e.g. +6591234567)
        </mat-error>
      </mat-form-field>

      <!-- Zip Code -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Zip Code (optional)</mat-label>
        <input matInput formControlName="zipCode" />
        <mat-error *ngIf="form.controls['zipCode'].hasError('pattern')">
          Must be 3–10 alphanumeric characters
        </mat-error>
      </mat-form-field>

      <!-- Submit Button -->
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">
          Save
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
